<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510379203158-ho938bkqks9a0043oo6rfu1r1gjk8iu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510379203158-ho938bkqks9a0043oo6rfu1r1gjk8iu5</string>
	<key>API_KEY</key>
	<string>AIzaSyDcsvLjwV1ypg8_9JExKnFZRNBgMH9odEY</string>
	<key>GCM_SENDER_ID</key>
	<string>510379203158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tupt.movies</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-b90a6</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-b90a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510379203158:ios:7aceb3415b458d7bf1b9f7</string>
</dict>
</plist>